* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* Common Styles */
.align__center__with__Flex {
  display: flex;

  align-items: center;
}
.text__center {
  text-align: center;
}
.anchor__color {
  color: rgb(44, 44, 227);
}

.header__container {
  background-color: #1e272e;
}
.logo {
  width: 110px;
  object-fit: cover;
  object-position: center;
}
.nav__container {
  justify-content: space-between;
  padding: 10px 20px;
}
.nav__container input {
  height: auto;
  flex: 1;
  background-color: transparent;
}

.nav__left__container {
  gap: 12px;
}

.nav__center__container {
  border: 1px solid rgba(98, 95, 95, 0.663);
  border-radius: 20px;
  gap: 10px;
  width: 35%;
}
.nav__Right__container {
  gap: 15px;
}

.input__container {
  height: auto;
  gap: 10px;
  flex: 1;
  border-radius: 20px;
}
.input__container input {
  outline: none;
  border: none;
  font-size: 1rem;
  color: rgba(98, 95, 95, 0.663);
}
.input__container input::placeholder {
  color: rgba(98, 95, 95, 0.663);
}
.input__container .searchIcon {
  border-right: 1px solid rgba(98, 95, 95, 0.663);
  padding: 8px 15px;
  background-color: rgba(98, 95, 95, 0.663);
  border-radius: 20px 0px 0px 20px;
}
.micIcon {
  padding: 8px 15px;
  border-left: 1px solid rgba(98, 95, 95, 0.663);
  background-color: rgba(98, 95, 95, 0.663);
  border-radius: 0px 20px 20px 0px;
}
.profile__icon {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 50%;
  object-position: center;
}

/* Main Container BG  */
.main__container {
  background-image: url("./images/ytp_lp2_background_web_4098x2304.jpg");
  background-repeat: no-repeat;
  height: 80vh;
  background-position: center;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.main__container__primary__Heading {
  font-size: 2rem;
}

.get__yt_prmium__button {
  padding: 10px 15px;
  margin-top: 30px;
  cursor: pointer;
  border-radius: 100px;
  font-size: medium;
  border: none;
  background-color: #065fd4;
  color: white;
}

.subscription__Heading {
  font-size: 1.5rem;
  font-weight: 400;
}

.second__box__container {
  background-color: #1e272e;
  color: white;
}

.second__box__container .innerBox {
  max-width: 990px;
  margin: 0px auto;
  gap: 20px;
  padding: 30px 0px;
}

.box {
  flex-direction: column;
  gap: 15px;
  padding: 10px;
}
.box img {
  height: 72px;
  width: 72px;
  object-fit: cover;
}

.box h3 {
  font-size: 1.3rem;
  font-weight: 400;
}
